{% include "header.html" %}

    <div class="container my-4">
      <h2>Contact us</h2>
      <form>
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Select your Query</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>Web</option>
            <option>Tech Stack</option>
            <option>Technology</option>
            <option>Others</option>
          </select>
          <div class="form-group row">
            <div class="col-sm-3">Are You a Maember?</div>
            <div class="col-sm-3">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="gridCheck1">
                <label class="form-check-label" for="gridCheck1">
                  Yes
                </label>
              </div>
            </div>
          </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Elaborate Your Concern</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    
{% include "footer.html" %}